@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800&family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,500;0,6..72,600;1,6..72,400;1,6..72,500&display=swap');
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-newsreader: "Newsreader", serif;
  --font-inter: "Inter", sans-serif;

  --color-primary: #000000;
  --color-primary-container: #0d1c32;
  --color-on-primary: #ffffff;
  
  --color-secondary: #9f402d;
  --color-secondary-container: #fd876f;
  
  --color-surface: #f8f9fa;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container: #edeeef;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-bright: #f8f9fa;
  
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #44474d;
  --color-outline-variant: #c5c6cd;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-newsreader);
  -webkit-font-smoothing: antialiased;
}